@import "fonts";

html,
body {
  font-size: 16px;
  font-family: IRANSans, Roboto, Tahoma, serif;
  background-color: #fcfcfa;
}

body {
  max-width: 1160px;
  margin: auto;
  padding: 16px;
}

